.header {
    display: flex;
    padding: 8px 15px;
    background-color: rgb(24, 24, 27);
    height: 35px;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

@media (max-width: 1450px) {
    .header {
        height: 32px;
    }
}

.left-side {
    flex: 0.3;
    display: flex;
    column-gap: 30px;
    align-items: center;
    margin-right: 30px;
}

.twitch-logo {
    height: 30px;
}

.twitch-logo:hover {
    cursor: pointer;
}

.three-dots {
    height: 20px;
    padding: 5px;
}

.three-dots:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 5px;
}

.search-column {
    flex: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 800.1px) {
    .following:hover,
    .browse:hover {
        color: #bf94ff;
        cursor: pointer;
    }
    .left-header-icon {
        display: none;
    }
    .search-bar {
        flex: 1;
        max-width: 355px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        background-color: rgba(255, 255, 255, 0.16);
        border: none;
        padding: 10px 12px 9px 10px;
        margin-right: 1px;
        color: white;
        font-size: 14px;
    }
    .search-bar::placeholder {
        color: rgba(255, 255, 255, 0.7);
        font-size: 15px;
    }
    .search-bar:focus {
        outline: 2px solid #8242e2;
    }
    .search-icon-box {
        background-color: rgb(255, 255, 255, 0.08);
        padding: 1px 4px 2px 4px;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
    }
    .search-icon {
        height: 24px;
        margin-top: 4px;
    }
    .right-search-icon {
        display: none;
    }
    .left-header-button {
        display: none;
    }
    .right-header-button:first-child {
        display: none;
    }
}

@media (max-width: 800px) {
    .search-bar {
        opacity: 0;
    }
    .right-search-icon {
        opacity: 1;
        width: 20px;
        margin-top: 3px;
    }
    .following,
    .browse {
        display: none;
    }
    .left-header-icon {
        width: 20px;
    }
    .left-header-icon:hover {
        fill: #bf94ff;
        cursor: pointer;
    }
    .left-header-button {
        display: flex;
    }
}

@media (max-width: 1450px),
(min-width: 770.1px) {
    .following,
    .browse {
        font-weight: 700;
        font-size: 14px;
    }
}

@media (min-width: 1450.1px) {
    .following,
    .browse {
        font-weight: 700;
        font-size: 18px;
    }
}

.right-side {
    margin-left: 50px;
    display: flex;
    column-gap: 12px;
    right: 15px;
    position: absolute;
}

.right-header-icon {
    width: 20px;
    margin-top: 3px;
}

.right-header-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    cursor: pointer;
}

.right-header-button,
.left-header-button,
.three-dots-button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    position: relative;
    justify-content: center;
    z-index: 300;
}

.three-dots-button {
    margin-top: 5px;
}

.right-header-button {
    display: flex;
}

.header-hint {
    position: absolute;
    background-color: #ffffff;
    font-weight: 700;
    font-size: 13px;
    top: 38px;
    white-space: nowrap;
    pointer-events: none;
    padding: 5px 8px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.2s;
}

.right-header-button:hover .header-hint,
.left-header-button:hover .header-hint {
    opacity: 1;
}

.profile-picture {
    width: 30px;
    border-radius: 15px;
}

.profile-picture:hover {
    cursor: pointer;
}