.header {
    display: flex;
    padding: 8px 15px;
    background-color: rgb(24, 24, 27);
    height: 50px;
    align-items: center;
}

.left-side {
    flex: 0.2;
    display: flex;
    column-gap: 42px;
    align-items: center;
    margin-right: 50px;
}

.twitch-logo {
    height: 40px;
}

.following,
.browse {
    font-weight: 700;
    font-size: 24px;
}

.following:hover,
.browse:hover {
    color: #bf94ff;
    cursor: pointer;
}

.three-dots {
    height: 30px;
}

.search-column {
    flex: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    flex: 1;
    max-width: 485px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: rgba(255, 255, 255, 0.16);
    border: none;
    padding: 20px 16px 16px 10px;
    margin-right: 2px;
}

.search-bar::placeholder {
    color: rgb(199, 199, 199);
    font-size: 20px;
}

.search-icon-box {
    background-color: rgb(255, 255, 255, 0.08);
    padding: 3px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.search-icon {
    height: 34px;
    margin-top: 4px;
}

.right-side {
    flex: 0.2;
    margin-left: 50px;
}