.sidebar {
    position: fixed;
    top: 51px;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 48px;
    background-color: #252525;
    align-items: center;
    row-gap: 10px;
    box-shadow: inset -1px 2px 3px rgba(0, 0, 0, 0.6);
    z-index: 200;
}

.followed-channels-button,
.expand-button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin-bottom: -10px;
    margin-top: 2px;
}

.sidebar img {
    height: 28px;
    width: 28px;
    border-radius: 14px;
}

.sidebar img:hover {
    cursor: pointer;
}

@media (max-width: 1800px) {
    .expand-icon {
        display: none;
    }
}

.stream-hint {
    position: absolute;
    left: 50px;
    top: -3px;
    background-color: #222222;
    padding: 8px 12px;
    border-radius: 7px;
    width: 190px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    z-index: 1000;
}

.channel-picture-box {
    position: relative;
}

.channel-game {
    color: rgb(181, 139, 218);
    white-space: nowrap;
    font-size: 14px;
    margin-bottom: 3px;
}

.stream-hint .title {
    font-size: 13px;
    line-height: 19px;
}

.red-dot {
    color: red;
    font-size: 22px;
    margin-top: 1px;
}

.stream-hint .viewers-count {
    color: rgb(168, 168, 168);
    font-size: 13px;
    margin-top: -3px;
}

.channel-picture-box:hover .stream-hint {
    opacity: 1;
}