.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 1600px;
  height: 300px;
}

.slider-row {
  display: flex;
  align-items: center;
  margin-top: 72px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  position: relative;
}

.main-slider-stream {
  z-index: 100;
  display: flex;
  position: absolute;
  top: 0;
}

.slider-thumbnail {
  width: 530px;
  height: 300px;
}

.slider-thumbnail:hover {
  cursor: pointer;
}

.left-slider-stream {
  z-index: 90;
  position: absolute;
  left: 200px;
  top: 25px;
}

.right-slider-stream {
  z-index: 90;
  position: absolute;
  right: 200px;
  top: 25px;
}

.second-left-slider-stream {
  z-index: 80;
  margin-top: 20px;
  position: absolute;
  left: 0;
  top: 25px;
}

.second-right-slider-stream {
  z-index: 80;
  margin-top: 20px;
  position: absolute;
  right: 0;
  top: 25px;
}

.right-slider-stream .slider-thumbnail,
.left-slider-stream .slider-thumbnail {
  filter: blur(1px);
  width: 440px;
  height: 250px;
  filter: brightness(75%);
  transition: all 0.15s ease-in-out;
}

.second-right-slider-stream .slider-thumbnail,
.second-left-slider-stream .slider-thumbnail {
  filter: blur(1px);
  width: 400px;
  height: 210px;
  filter: brightness(75%);
  transition: all 0.15s ease-in-out;
}

.right-slider-stream .slider-thumbnail:hover,
.left-slider-stream .slider-thumbnail:hover,
.second-right-slider-stream .slider-thumbnail:hover,
.second-left-slider-stream .slider-thumbnail:hover {
  filter: brightness(95%);
}

.right-slider-stream .slider-thumbnail:hover,
.left-slider-stream .slider-thumbnail:hover {
  width: 450px;
  height: 256px;
  top: 15px;
}

.second-left-slider-stream .slider-thumbnail:hover,
.second-right-slider-stream .slider-thumbnail:hover {
  width: 408px;
  height: 215px;
  top: 18px;
}

.right-slider-stream .slider-info-column,
.second-right-slider-stream .slider-info-column,
.left-slider-stream .slider-info-column,
.second-left-slider-stream .slider-info-column {
  display: none;
}

@media (max-width: 730px) {
  .slider-info-column {
    display: none;
  }
  .right-slider-stream,
  .left-slider-stream,
  .second-left-slider-stream,
  .second-right-slider-stream {
    display: none;
  }
}

@media (min-width: 730.1px) {
  .slider-info-column {
    background-color: #18181b;
    width: 200px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    height: 280px;
  }
}

.streamer-info {
  display: flex;
  align-items: center;
}

.channel-picture {
  width: 50px;
  border-radius: 25px;
}

.rest-info {
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.channel-name {
  color: rgb(181, 139, 218);
  font-size: 14px;
  font-weight: 700;
}

.channel-name:hover {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(185, 120, 241);
}

.game {
  color: rgb(177, 130, 218);
  font-size: 15px;
}

.game:hover {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(185, 120, 241);
}

.viewers-count {
  font-size: 13px;
}

.category {
  border: none;
  border-radius: 7px;
  padding: 2px 10px;
  font-size: 13px;
  color: #d3d3d3;
  background-color: #3d3d3d;
  margin-right: 3px;
}

.category:hover {
  cursor: pointer;
  background-color: #4e4e4e;
}

.description-text {
  font-size: 14px;
  line-height: 20px;
}

.right-slider-button {
  margin-left: 70px;
}

.left-slider-button {
  margin-right: 70px;
}

.right-slider-button {
  position: absolute;
  right: 30px;
}

.left-slider-button {
  position: absolute;
  left: 30px;
}

/* @media (max-width: 1920px) {
  .left-slider-button {
    margin-right: 70px;
    position: relative;
  }
  .right-slider-button {
    margin-left: 70px;
  }
} */

.right-slider-button,
.left-slider-button {
  background-color: #0e0e0e;
  border: none;
  width: 40px;
  height: 40px;
  padding: 6px 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  z-index: 150;
}

.right-arrow,
.left-arrow {
  width: 35px;
}

.right-slider-button:hover,
.left-slider-button:hover {
  background-color: #313131;
}

.slider-thumbnail-column {
  position: relative;
}

.live {
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 13px;
  background-color: rgb(231, 0, 0);
  padding: 2px 6px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}

.slider-thumbnail-column button {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 30px;
  border-radius: 3px;
  padding: 4px 5px;
}

.slider-thumbnail-column button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.play-button {
  left: 12px;
  bottom: 12px;
}

.mute {
  left: 42px;
  bottom: 12px;
}

.stream-settings {
  right: 42px;
  bottom: 10px;
}

.fullscreen {
  right: 12px;
  bottom: 10px;
  padding: 4px 5px 2px 5px;
}
