.streams-row {
  display: grid;
  column-gap: 10px;
}

@media (min-width: 1900.1px) {
  .streams-row {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .category-row {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1900px), (min-width: 1600.1) {
  .streams-row {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  #stream-6 {
    display: none;
  }
  .category-row {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  #category-12 {
    display: none;
  }
  #category-11 {
    display: none;
  }
}

@media (max-width: 1600px), (min-width: 1300.1) {
  .streams-row {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #stream-5 {
    display: none;
  }
  .category-row {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  #category-10 {
    display: none;
  }
  #category-9 {
    display: none;
  }
}

@media (max-width: 1300px), (min-width: 1000.1) {
  .streams-row {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #stream-4 {
    display: none;
  }
  .category-row {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  #category-8 {
    display: none;
  }
  #category-7 {
    display: none;
  }
}

@media (max-width: 1000px) {
  .streams-row {
    grid-template-columns: 1fr 1fr;
  }
  #stream-3 {
    display: none;
  }
  .category-row {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #category-6 {
    display: none;
  }
  #category-5 {
    display: none;
  }
}

.stream {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.stream-thumbnail-row {
  position: relative;
}

.stream-thumbnail-row:hover {
  cursor: pointer;
}

.stream-thumbnail {
  width: 100%;
}

.stream-viewers-count {
  position: absolute;
  bottom: 12px;
  left: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  padding: 3px 5px;
  border-radius: 1px;
}

.stream-info {
  display: flex;
  column-gap: 10px;
  position: relative;
}

.stream-channel-picture {
  width: 40px;
  border-radius: 20px;
}

.stream-channel-picture:hover {
  cursor: pointer;
}

.rest-info-column {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.stream-title {
  font-weight: 700;
  font-size: 15px;
}

.stream-title:hover {
  cursor: pointer;
  color: rgb(185, 120, 241);
}

.stream-channel-name,
.stream-category {
  font-size: 14px;
  color: rgb(168, 168, 168);
}

.stream-channel-name:hover {
  cursor: pointer;
}

.stream-category:hover {
  cursor: pointer;
  color: rgb(185, 120, 241);
}

.stream-three-dots {
  width: 16px;
  margin-top: 2px;
}

.three-dots-column {
  position: absolute;
  right: 0;
  top: 0;
  padding: 2px 3px;
  border-radius: 3px;
  margin-top: -3px;
}

.three-dots-column:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}
